body{
    font-family: 'Baloo Bhai 2', cursive;
    color: aliceblue;
    margin: 0px;
    pad: 0px;
    background: url('sus.jpeg');
    
    background-repeat: no-repeat;
    background-size: 100%; 

}
.left{
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */


}
.left div{
    line-height: 12px;
    font-size: 16px;
    text-align: center;
}
.left img{
    width: 150px;
    height: 72px;
   
   
}
.mid{
    display: block;
    width: 40%;
    margin: 30px auto;
    /* border: 2px solid green; */
}
.right{
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 6px;
    background-color: black; 
    color: white;
    padding: 2px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(40, 38, 38);
}
.navbar{
    display: inline-block;
}
.navbar li{
    font-size: 16px;
    color: white;
    display: inline-block;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
.navbar li a:hover, .navbar li a.active{
   text-decoration: underline;
   color: gray;
}
.container{
    border: 2px solid #fcfcfcfc;
margin: 100px 21px;
padding: 27px;
width: 30%;
border-radius: 28px;
}
.formgroup input{
font-family: 'Baloo Bhai 2', cursive;
text-align: center;
display: block;
width: 392px;
padding: 1px;
border: 2px solid black;
margin: 8px auto;
font-size: 18px;
border-radius: 66px;

}
.container h2{
text-align: center;


}
.container button{
display: block;
width: 43%;
margin: 19px auto;

}

   